<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
          integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/home.css}">
    <link rel="stylesheet" th:href="@{css/projects.css}">
    <title>Dissertation Management System</title>
</head>

<body>
<nav>
    <a th:href="@{/home}" class="logo">
        Dissertation Management System
    </a>

    <div class="dropdownmenu">
        <div class="user-name-container">
            <i class="fas fa-user-circle fa-2x" style="color: white; margin: auto"></i>
            <p class="name-of-user" th:text="${user.firstName} + ' ' + ${user.lastName}">
                Name
            </p>
            <div class="dropdown-content">
                <p class="acc-type" th:text="'Account type: ' + ${user.accountType}"></p>

                <div style="display: flex">
                    <i class="fas fa-user-circle fa-lg" style=" margin: auto 0; padding-left: 5px;"></i>
                    <a th:href="@{/profile}">My Profile</a>
                </div>
                <div style="display: flex">
                    <i class="fas fa-sign-out-alt fa-lg" style="margin: auto 0; padding-left: 5px;"></i>
                    <a th:href="@{/logout}">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<section id="side-nav-student">
    <div class="sidenav">
        <a th:href="@{/home}">Home</a>
        <a th:href="@{/student-my-projects}">My Projects</a>
        <a href="#">Ideas</a>
        <a href="#">Forum</a>
        <a href="#">Notifications</a>
        <a href="#">Notes</a>
    </div>
</section>


<section class="page-content">
    <div th:if="${studentProjects.isEmpty()}" class="no-projects-container">
        <p style="font-size: 20px; text-align: center">To start you have to add a new project or select one from the
            projects ideas list</p>
        <div class="no-project-buttons-container">
            <a th:href="@{/addproject}" class="projects-large-button"><i class="fas fa-plus"></i> Add project</a>
            <a class="projects-large-button">Go to project ideas</a>
        </div>
    </div>

    <div class="my-projects-container">
        <h2 class="section-title">My projects</h2>
        <div class="projects-container">
            <h3 th:if="${studentProjects.isEmpty()}">Nothing yet</h3>

            <div class="project-box" th:each="project: ${studentProjects}">
                <div class="left-side">
                    <h4 th:text="${project.suggestion.title}"></h4>
                    <h5 th:text="'Status: ' + ${project.projectStatus.getValue()}"></h5>
                </div>
                <div class="right-side">
                    <a href="#" class="projects-small-button">Select</a>
<!--                    Use this when ready-->
<!--                    <a th:href="'/projects/' + ${project.id}" class="projects-small-button"><i class="fas fa-plus"></i>Select</a>-->
                </div>
            </div>

            <a th:href="@{/addproject}" class="projects-large-button" style="margin-top: 20px;"><i class="fas fa-plus"></i> Add project</a>
        </div>
    </div>

</section>


</body>
</html>