<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
          integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{../css/style.css}">
    <link rel="stylesheet" th:href="@{../css/home.css}">
    <link rel="stylesheet" th:href="@{../css/projects.css}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>Dissertation Management System</title>

</head>

<body>
<nav>
    <a th:href="@{/home}" class="logo">
        Dissertation Management System
    </a>

    <div class="dropdownmenu">
        <div class="user-name-container">
            <i class="fas fa-user-circle fa-2x" style="color: white; margin: auto"></i>
            <p class="name-of-user" th:text="${user.firstName} + ' ' + ${user.lastName}">
                Name
            </p>
            <div class="dropdown-content">
                <p class="acc-type" th:text="'Account type: ' + ${user.accountType}"></p>

                <div style="display: flex">
                    <i class="fas fa-user-circle fa-lg" style=" margin: auto 0; padding-left: 5px;"></i>
                    <a th:href="@{/profile}">My Profile</a>
                </div>
                <div style="display: flex">
                    <i class="fas fa-sign-out-alt fa-lg" style="margin: auto 0; padding-left: 5px;"></i>
                    <a th:href="@{/logout}">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<section id="side-nav-student">
    <div class="sidenav">
        <a th:href="@{/home}">Home</a>
        <a th:href="@{/student-my-projects}">My Projects</a>
        <a href="#">Ideas</a>
        <a href="#">Forum</a>
        <a href="#">Notifications</a>
        <a href="#">Notes</a>
    </div>
</section>


<section class="page-content">
    <div class="top-buttons">
        <button id="activityplanbutton" class="projects-large-button selected-button" style="margin-right: 20px">
            Activity plan
        </button>
        <button id="discussionbutton" class="projects-large-button" style="margin-right: 20px">Discussions</button>
        <button id="meetingsbutton" class="projects-large-button" style="margin-right: 20px">Meetings</button>
    </div>

    <!--    ACTIVITY PLAN PAGE -->
    <div class="content" id="activityplan">
        <div class="project-details-box">
            <div class="box-in-project-details">
                <h4>Project title</h4>
                <p th:text="${project.suggestion.title}"></p>
                <a th:href="'/suggestions/' + ${project.id}">View suggestion form</a>

            </div>

            <div class="box-in-project-details">
                <h4>Start date</h4>
                <p th:text="${project.startDate}"></p>
                <h4>End date</h4>
                <p th:text="${project.endDate}"></p>

            </div>

            <div class="box-in-project-details">
                <h4>Supervisor</h4>
                <p th:if="${project.supervisor != null}"
                   th:text="${project.supervisor.firstName} + ' ' + ${project.supervisor.lastName}"></p>
                <p th:if="${project.supervisor == null}">Not assigned</p>

                <h4>Project stage</h4>
                <p th:text="${project.projectStatus.getValue()}"></p>
            </div>
        </div>

        <!--        PROJECT PHASES-->
        <div class="project-phases-container" id="project-phases">
            <div class="project-phase-wrap">
                <h3 class="project-phase-title">Phase 1</h3>
                <table class="table">
                    <tr>
                        <td>Supervisor allocation</td>
                        <td class="table-align-right"><a href="#">Select</a></td>
                    </tr>
                    <tr>
                        <td>Proposal submission</td>
                        <td class="table-align-right"><a href="#">Select</a></td>
                    </tr>
                    <tr>
                        <td>Proposal approved</td>
                        <td class="table-align-right"><a href="#">Select</a></td>
                    </tr>
                </table>
            </div>

            <div class="project-phase-wrap">
                <h3 class="project-phase-title">Phase 2</h3>
                <table class="table">
                    <tr>
                        <td>Project planning</td>
                        <td class="table-align-right"><a href="#">Select</a></td>
                    </tr>
                    <tr>
                        <td>Task example 3</td>
                        <td class="table-align-right"><a href="#">Select</a></td>
                    </tr>
                    <tr>
                        <td>Task example 4</td>
                        <td class="table-align-right"><a href="#">Select</a></td>
                    </tr>
                </table>
            </div>

            <div class="project-phase-wrap">
                <h3 class="project-phase-title">Phase 3</h3>
                <table class="table">
                    <tr>
                        <td>Task example 4</td>
                        <td class="table-align-right"><a href="#">Select</a></td>
                    </tr>
                    <tr>
                        <td>Task example 5</td>
                        <td class="table-align-right"><a href="#">Select</a></td>
                    </tr>
                    <tr>
                        <td>Task example 6</td>
                        <td class="table-align-right"><a href="#">Select</a></td>
                    </tr>
                </table>
            </div>

        </div>
    </div>


    <!--    DISCUSSIONS PAGE-->
    <div class="content hidden" id="discussions">
        <h1>Discussions</h1>
    </div>

    <!--    MEETINGS PAGE -->
    <div class="content hidden" id="meetings">
        <h1>Meetings</h1>
    </div>


</section>


</body>
<script>
    $(document).ready(function () {
        $('#activityplanbutton').click(function () {
            if ($('#activityplan').hasClass('hidden')) {
                $('#activityplan').removeClass('hidden');
                $('#discussions').addClass('hidden');
                $('#meetings').addClass('hidden');
            }
            if (!$('#activityplanbutton').hasClass('selected-button')) {
                $('#activityplanbutton').addClass('selected-button');
                $('#discussionbutton').removeClass('selected-button');
                $('#meetingsbutton').removeClass('selected-button');
            }
        });

        $('#discussionbutton').click(function () {
            if ($('#discussions').hasClass('hidden')) {
                $('#discussions').removeClass('hidden');
                $('#activityplan').addClass('hidden');
                $('#meetings').addClass('hidden');
            }

            if (!$('#discussionbutton').hasClass('selected-button')) {
                $('#discussionbutton').addClass('selected-button');
                $('#activityplanbutton').removeClass('selected-button');
                $('#meetingsbutton').removeClass('selected-button');
            }
        });

        $('#meetingsbutton').click(function () {
            if ($('#meetings').hasClass('hidden')) {
                $('#meetings').removeClass('hidden');
                $('#discussions').addClass('hidden');
                $('#activityplan').addClass('hidden');
            }

            if (!$('#meetingsbutton').hasClass('selected-button')) {
                $('#meetingsbutton').addClass('selected-button');
                $('#activityplanbutton').removeClass('selected-button');
                $('#discussionbutton').removeClass('selected-button');
            }
        });
    });
</script>
</html>