<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
          integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/home.css}">
    <link rel="stylesheet" th:href="@{css/projects.css}">
    <title>Dissertation Management System</title>
</head>

<body>
<nav>
    <a th:href="@{/home}" class="logo">
        Dissertation Management System
    </a>

    <div class="dropdownmenu">
        <div class="user-name-container">
            <i class="fas fa-user-circle fa-2x" style="color: white; margin: auto"></i>
            <p class="name-of-user" th:text="${user.firstName} + ' ' + ${user.lastName}">
                Name
            </p>
            <div class="dropdown-content">
                <p class="acc-type" th:text="'Account type: ' + ${user.accountType}"></p>

                <div style="display: flex">
                    <i class="fas fa-user-circle fa-lg" style=" margin: auto 0; padding-left: 5px;"></i>
                    <a th:href="@{/profile}">My Profile</a>
                </div>
                <div style="display: flex">
                    <i class="fas fa-sign-out-alt fa-lg" style="margin: auto 0; padding-left: 5px;"></i>
                    <a th:href="@{/logout}">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<section id="side-nav-student">
    <div class="sidenav">
        <a th:href="@{/home}">Home</a>
        <a th:href="@{/student-my-projects}">My Projects</a>
        <a href="#">Ideas</a>
        <a href="#">Forum</a>
        <a href="#">Notifications</a>
        <a href="#">Notes</a>
    </div>
</section>


<section class="page-content">
    <div class="add-project-container">
        <h2 style="margin: 20px 30px;" class="section-title">Add new project</h2>

        <div class="submission-form-container">
            <form id="registration" th:action="@{/submit-proposal}" th:object="${suggestion}" method="post"
                  autocomplete="off">

                <h4>Project title</h4>
                <div class="input-group">
                    <textarea type="text" id="title" name="title"
                              class="form-control" th:field="*{title}"></textarea>
                </div>

                <h4>Description (200 words max)</h4>
                <div class="input-group">
                    <textarea type="text" id="description" name="description"
                              class="form-control" th:field="*{description}"
                              style="height: 150px !important;"></textarea>
                </div>

                <h4>Methodology (200 words max)</h4>
                <div class="input-group">
                    <textarea type="text" id="methodology" name="methodology"
                              class="form-control" th:field="*{methodology}"
                              style="height: 150px !important;"></textarea>
                </div>

                <h4>Deliverables (200 words max)</h4>
                <div class="input-group">
                    <textarea type="text" id="deliverables" name="deliverables"
                              class="form-control" th:field="*{deliverables}"
                              style="height: 150px !important;"></textarea>
                </div>

                <h4>LSEP (200 words max)</h4>
                <div class="input-group">
                    <textarea type="text" id="lsep" name="lsep"
                              class="form-control" th:field="*{lsep}" style="height: 150px !important;"></textarea>
                </div>

                <p class="details-header">Project type</p>
                <select class="form-control" id="projectType" name="projectType">
                    <option th:each="projectType : ${T(com.university.dms.model.project.enums.DissertationType).values()}"
                            th:value="${projectType}"
                            th:text="${projectType}"
                    />
                </select>

                <input type="text" name="discussionId" th:value="${project.id}" style="display: none"/>

                <button type="submit" class="general-button">Add new project</button>
            </form>
        </div>
    </div>
</section>

</body>
</html>