<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
          integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{../../css/style.css}">
    <link rel="stylesheet" th:href="@{../../css/home.css}">
    <link rel="stylesheet" th:href="@{../../css/projects.css}">
    <link rel="stylesheet" th:href="@{../../css/profile.css}">


    <title>Dissertation Management System</title>

</head>

<body>
<div th:replace="fragments/navbar"></div>


<section class="page-content">
    <div class="top-buttons">
        <a id="meetings-button" class="projects-large-button" style="margin-right: 20px" th:href="'/' + ${project.id} + '/meetingspage'">Meetings</a>
        <a id="new-meeting-button" class="projects-large-button selected-button" style="margin-right: 20px"
           th:href="'/' + ${project.id} + '/new-meeting'">New meeting</a>
        <a id="go-back-from-activity-plan" class="projects-large-button" th:href="'/projects/' + ${project.id}"
           style="margin-right: 20px">Go back</a>
    </div>

    </div>

    <!--    MEETINGS PAGE -->
    <div class="content" id="meetings">
        <h1>Schedule new meeting</h1>

        <div class="new-meeting-wrapper">
            <form id="new-meeting" th:action="@{/submitnewmeeting}" th:object="${meeting}" method="post" autocomplete="off">
                <div class="content-flex" style="margin: 10px 0">
                    <div class="left-side" style="margin: 0 2%">
                        <p>Select date*</p>
                        <input type="date" id="date" name="date" th:field="*{date}">

                        <p>Select time*</p>
                        <input type="time" id="time" name="time" th:field="*{time}">

                        <p>Meeting duration*</p>
                        <input id="duration" name="duration" type="number" th:field="*{duration}">

                        <p>Meeting type</p>
                        <select class="form-control" id="meetingType" name="meetingType">
                            <option th:each="meetingType : ${T(com.university.dms.model.meetings.MeetingType).values()}"
                                    th:value="${meetingType}"
                                    th:text="${meetingType}"
                            />
                        </select>
                        * required fields
                    </div>
                    <div class="right-side" style="margin: 0 2%">
                        <p>Meeting platform</p>
                        <select class="form-control" id="meetingPlatform" name="meetingPlatform">
                            <option th:each="meetingPlatform : ${T(com.university.dms.model.meetings.MeetingPlatform).values()}"
                                    th:value="${meetingPlatform}"
                                    th:text="${meetingPlatform}"
                            />
                        </select>

                        <p>Meeting link</p>
                        <input id="meetingLink" name="meetingLink" type="text" style="width: 100%" th:field="*{meetingLink}">

                        <p>Other details</p>
                        <input id="otherDetails" name="otherDetails" type="otherDetails" style="width: 100%" th:field="*{otherDetails}">
                        <br>

                        <input type="text" name="projectId" th:value="${project.id}" style="display: none"/>
                        <button type="submit" class="general-button">Submit</button>
                    </div>
                </div>
            </form>
        </div>


    </div>


</section>


</body>
</html>