<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
          integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{../css/style.css}">
    <link rel="stylesheet" th:href="@{../css/home.css}">
    <link rel="stylesheet" th:href="@{../css/projects.css}">
    <link rel="stylesheet" th:href="@{../css/profile.css}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>Dissertation Management System</title>

</head>

<body>
<nav>
    <a th:href="@{/home}" class="logo">
        Dissertation Management System
    </a>

    <div class="dropdownmenu">
        <div class="user-name-container">
            <i class="fas fa-user-circle fa-2x" style="color: white; margin: auto"></i>
            <p class="name-of-user" th:text="${user.firstName} + ' ' + ${user.lastName}">
                Name
            </p>
            <div class="dropdown-content">
                <p class="acc-type" th:text="'Account type: ' + ${user.accountType}"></p>

                <div style="display: flex">
                    <i class="fas fa-user-circle fa-lg" style=" margin: auto 0; padding-left: 5px;"></i>
                    <a th:href="@{/profile}">My Profile</a>
                </div>
                <div style="display: flex">
                    <i class="fas fa-sign-out-alt fa-lg" style="margin: auto 0; padding-left: 5px;"></i>
                    <a th:href="@{/logout}">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<section th:if="${user.accountType eq T(com.university.dms.model.AccountType).STUDENT}" id="side-nav-student">
    <div class="sidenav">
        <a th:href="@{/home}">Home</a>
        <a th:href="@{/student-my-projects}">My Projects</a>
        <a href="#">Ideas</a>
        <a href="#">Forum</a>
        <a href="#">Notifications</a>
        <a href="#">Notes</a>
    </div>
</section>

<section th:if="${user.accountType eq T(com.university.dms.model.AccountType).SUPERVISOR}" id="side-nav-supervisor">
    <div class="sidenav">
        <a th:href="@{/home}">Home</a>
        <a th:href="@{/supervisor-my-projects}">Projects</a>
        <a href="#">Ideas</a>
        <a href="#">Forum</a>
    </div>
</section>

<section th:if="${user.accountType eq T(com.university.dms.model.AccountType).COORDINATOR}" id="side-nav-coordinator">
    <div class="sidenav">
        <a th:href="@{/home}">Home</a>
        <a th:href="@{/users}">Users</a>
        <a th:href="@{/coordinatorviewprojects}">Projects</a>
        <a href="#">Ideas</a>
        <a href="#">Forum</a>
    </div>
</section>


<section class="page-content">
    <div class="top-buttons">
        <button id="activityplanbutton" class="projects-large-button selected-button" style="margin-right: 20px">
            Activity plan
        </button>
        <button id="discussionbutton" class="projects-large-button" style="margin-right: 20px">Discussions</button>
        <a id="meetingsbutton" class="projects-large-button" style="margin-right: 20px" th:href="'/' + ${project.id} + '/meetingspage'">Meetings</a>
        <a th:if="${user.accountType eq T(com.university.dms.model.AccountType).SUPERVISOR}" id="supervisory-records" class="projects-large-button" style="margin-right: 20px" th:href="'/' + ${project.id} + '/supervisory-records'">Supervisory records</a>

    </div>

    <!--    ACTIVITY PLAN PAGE -->
    <div class="content" id="activityplan">
        <div class="project-details-box">
            <div class="box-in-project-details">
                <h4>Project title</h4>
                <p id="projecttitle" th:text="${project.title}"></p>

                <form th:if="${user.accountType eq T(com.university.dms.model.AccountType).STUDENT}" class="hidden"
                      id="change-project-title" th:action="@{/change-project-title}" th:object="${project}"
                      method="post" autocomplete="off"
                      style="min-width: 20%;">
                    <input type="text" id="title" name="title"
                           th:value="${project.title}"
                           class="form-control"/>
                    <input type="text" id="id" name="id" placeholder="Id" th:field="*{id}" style="display: none"/>

                    <button id="saveprojectitle" type="submit" class="btn"
                            style="margin-bottom: 10px; margin-top: 10px; padding: 8px 12px">Save
                    </button>
                    <a id="cancelsaveprojectitle" class="btn"
                       style="margin-bottom: 10px; margin-top: 10px; padding: 8px 12px; color: white">Cancel</a>
                </form>

                <button th:if="${user.accountType eq T(com.university.dms.model.AccountType).STUDENT}"
                        id="editprojectitle" class="btn"
                        style="margin-bottom: 10px; margin-top: 10px; padding: 8px 12px">Edit project title
                </button>
                <a class="btn" style="margin-top: 10px; margin-bottom: 10px; padding: 8px 12px"
                   th:href="'/suggestions/' + ${project.id}">View suggestion form</a>

            </div>

            <div class="box-in-project-details">
                <h4>Start date</h4>
                <p th:text="${project.startDate}"></p>
                <h4>End date</h4>
                <p th:text="${project.endDate}"></p>
                <h4>Project type</h4>
                <p th:text="${project.projectType.getValue()}"></p>
            </div>

            <div class="box-in-project-details">
                <div th:if="${user.accountType eq T(com.university.dms.model.AccountType).STUDENT} OR ${user.accountType eq T(com.university.dms.model.AccountType).COORDINATOR}">
                    <h4>Supervisor</h4>
                    <p th:if="${project.supervisor != null}"
                       th:text="${project.supervisor.firstName} + ' ' + ${project.supervisor.lastName}"></p>
                    <p th:if="${project.supervisor == null}">Not assigned</p>
                </div>

                <div th:if="${user.accountType eq T(com.university.dms.model.AccountType).SUPERVISOR} OR ${user.accountType eq T(com.university.dms.model.AccountType).COORDINATOR}">
                    <h4>Student</h4>
                    <p th:if="${project.student != null}"
                       th:text="${project.student.firstName} + ' ' + ${project.student.lastName}"></p>
                </div>

                <h4>Project stage</h4>
                <p th:text="${project.projectStatus.getValue()}"></p>
            </div>
        </div>

        <!--        PROJECT PHASES - SUGGESTION SUBMITTED-->
        <div th:if="${project.projectStatus eq T(com.university.dms.model.project.enums.ProjectStatus).SUGGESTION_SUBMITTED}"
             class="project-phases-container" id="project-phases">
            <h2>A suggestion for this project has been submitted.</h2>
            <h2>You have to wait for approval.</h2>
        </div>

        <!--        PROJECT PHASES - PROJECT REJECTED-->
        <div th:if="${project.projectStatus eq T(com.university.dms.model.project.enums.ProjectStatus).SUGGESTION_REJECTED}"
             class="project-phases-container" id="project-phases">
            <h2>The suggestion for this project has been rejected.</h2>
            <h2>You have to continue working on the project that has been approved.</h2>
        </div>

        <!--        PROJECT PHASES-->
        <div th:if="${project.projectStatus ne T(com.university.dms.model.project.enums.ProjectStatus).SUGGESTION_SUBMITTED} AND
                      ${project.projectStatus ne T(com.university.dms.model.project.enums.ProjectStatus).SUGGESTION_REJECTED}"
             class="project-phases-container" id="project-phases">
            <div class="project-phase-wrap">
                <h3 class="project-phase-title">Phase 1 - Proposal </h3>
                <table class="table">
                    <tr>
                        <td>
                            Supervisor allocation
                            <i th:if="${currentProjectStatuses.contains(T(com.university.dms.model.project.enums.ProjectStatus).SUGGESTION_APPROVED)}"
                               class="fas fa-check-circle fa-lg" style="color: green"></i>
                        </td>
                        <td class="table-align-right"></td>
                    </tr>
                    <tr>
                        <td>
                            Proposal submission
                            <i th:if="${currentProjectStatuses.contains(T(com.university.dms.model.project.enums.ProjectStatus).PROPOSAL_SUBMITTED)}"
                               class="fas fa-check-circle fa-lg" style="color: green"></i>
                        </td>
                        <td class="table-align-right"><a th:href="'/projects/' + ${project.id} + '/proposal-page'">Select</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Proposal approval
                            <i th:if="${currentProjectStatuses.contains(T(com.university.dms.model.project.enums.ProjectStatus).PROPOSAL_APPROVED)}"
                               class="fas fa-check-circle fa-lg" style="color: green"></i>
                            <i th:if="${currentProjectStatuses.contains(T(com.university.dms.model.project.enums.ProjectStatus).PROPOSAL_REJECTED) && !currentProjectStatuses.contains(T(com.university.dms.model.project.enums.ProjectStatus).PROPOSAL_APPROVED)}"
                               class="fas fa-times-circle fa-lg" style="color: red"></i>
                        </td>
                        <td class="table-align-right"></td>
                    </tr>
                </table>
            </div>

            <div class="project-phase-wrap">
                <h3 class="project-phase-title">Phase 2 - Dissertation</h3>
                <table class="table">
                    <tr>
                        <td>
                            Chapter 1 - Introduction
                            <span th:if="${project.dissertation != null} AND ${currentProjectStatuses.contains(T(com.university.dms.model.project.enums.ProjectStatus).PROPOSAL_APPROVED)}">
                                <i th:if="${project.dissertation.introduction.chapterStatus eq T(com.university.dms.model.project.enums.ChapterStatus).NOT_STARTED}"
                                   class="fas fa-play-circle fa-lg" style="color: orange"></i>
                                <i th:if="${project.dissertation.introduction.chapterStatus eq T(com.university.dms.model.project.enums.ChapterStatus).NEW_WORK_SUBMITTED}"
                                   class="fas fa-plus-circle fa-lg" style="color: #cc682a"></i>
                                <i th:if="${project.dissertation.introduction.chapterStatus eq T(com.university.dms.model.project.enums.ChapterStatus).NEEDS_REVISION_FROM_STUDENT}"
                                   class="fas fa-exclamation-circle fa-lg" style="color: #f82424"></i>
                                <i th:if="${project.dissertation.introduction.chapterStatus eq T(com.university.dms.model.project.enums.ChapterStatus).DONE}"
                                   class="fas fa-check-circle fa-lg" style="color: green"></i>
                            </span>
                        </td>
                        <td class="table-align-right">
                            <a th:if="${currentProjectStatuses.contains(T(com.university.dms.model.project.enums.ProjectStatus).PROPOSAL_APPROVED)}"
                               th:href="'/projects/' + ${project.id} + '/chapter1'">Select</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Chapter 2 - Problem statement / Client requirements / Literature review
                            <span th:if="${project.dissertation != null} AND ${currentProjectStatuses.contains(T(com.university.dms.model.project.enums.ProjectStatus).PROPOSAL_APPROVED)}">
                                <i th:if="${project.dissertation.literatureReview.chapterStatus eq T(com.university.dms.model.project.enums.ChapterStatus).NOT_STARTED}"
                                   class="fas fa-play-circle fa-lg" style="color: orange"></i>
                                <i th:if="${project.dissertation.literatureReview.chapterStatus eq T(com.university.dms.model.project.enums.ChapterStatus).NEW_WORK_SUBMITTED}"
                                   class="fas fa-plus-circle fa-lg" style="color: #cc682a"></i>
                                <i th:if="${project.dissertation.literatureReview.chapterStatus eq T(com.university.dms.model.project.enums.ChapterStatus).NEEDS_REVISION_FROM_STUDENT}"
                                   class="fas fa-exclamation-circle fa-lg" style="color: #f82424"></i>
                                <i th:if="${project.dissertation.literatureReview.chapterStatus eq T(com.university.dms.model.project.enums.ChapterStatus).DONE}"
                                   class="fas fa-check-circle fa-lg" style="color: green"></i>
                            </span>
                        </td>
                        <td class="table-align-right">
                            <a th:if="${currentProjectStatuses.contains(T(com.university.dms.model.project.enums.ProjectStatus).PROPOSAL_APPROVED)}"
                               th:href="'/projects/' + ${project.id} + '/chapter2'">Select</a></td>
                    </tr>
                    <tr>
                        <td>
                            Chapter 3 - Methodology & Project plan
                            <span th:if="${project.dissertation != null} AND ${currentProjectStatuses.contains(T(com.university.dms.model.project.enums.ProjectStatus).PROPOSAL_APPROVED)}">
                                <i th:if="${project.dissertation.methodology.chapterStatus eq T(com.university.dms.model.project.enums.ChapterStatus).NOT_STARTED}"
                                   class="fas fa-play-circle fa-lg" style="color: orange"></i>
                                <i th:if="${project.dissertation.methodology.chapterStatus eq T(com.university.dms.model.project.enums.ChapterStatus).NEW_WORK_SUBMITTED}"
                                   class="fas fa-plus-circle fa-lg" style="color: #cc682a"></i>
                                <i th:if="${project.dissertation.methodology.chapterStatus eq T(com.university.dms.model.project.enums.ChapterStatus).NEEDS_REVISION_FROM_STUDENT}"
                                   class="fas fa-exclamation-circle fa-lg" style="color: #f82424"></i>
                                <i th:if="${project.dissertation.methodology.chapterStatus eq T(com.university.dms.model.project.enums.ChapterStatus).DONE}"
                                   class="fas fa-check-circle fa-lg" style="color: green"></i>
                            </span>
                        </td>
                        <td class="table-align-right">
                            <a th:if="${currentProjectStatuses.contains(T(com.university.dms.model.project.enums.ProjectStatus).PROPOSAL_APPROVED)}"
                                th:href="'/projects/' + ${project.id} + '/chapter3'">Select</a></td>
                    </tr>
                    <tr>
                        <td>
                            Chapter 4 - Data collection, Analysis / Design, development etc
                            <span th:if="${project.dissertation != null} AND ${currentProjectStatuses.contains(T(com.university.dms.model.project.enums.ProjectStatus).PROPOSAL_APPROVED)}">
                                <i th:if="${project.dissertation.developmentTesting.chapterStatus eq T(com.university.dms.model.project.enums.ChapterStatus).NOT_STARTED}"
                                   class="fas fa-play-circle fa-lg" style="color: orange"></i>
                                <i th:if="${project.dissertation.developmentTesting.chapterStatus eq T(com.university.dms.model.project.enums.ChapterStatus).NEW_WORK_SUBMITTED}"
                                   class="fas fa-plus-circle fa-lg" style="color: #cc682a"></i>
                                <i th:if="${project.dissertation.developmentTesting.chapterStatus eq T(com.university.dms.model.project.enums.ChapterStatus).NEEDS_REVISION_FROM_STUDENT}"
                                   class="fas fa-exclamation-circle fa-lg" style="color: #f82424"></i>
                                <i th:if="${project.dissertation.developmentTesting.chapterStatus eq T(com.university.dms.model.project.enums.ChapterStatus).DONE}"
                                   class="fas fa-check-circle fa-lg" style="color: green"></i>
                            </span>
                        </td>
                        <td class="table-align-right">
                            <a th:if="${currentProjectStatuses.contains(T(com.university.dms.model.project.enums.ProjectStatus).PROPOSAL_APPROVED)}"
                               th:href="'/projects/' + ${project.id} + '/chapter4'">Select</a></td>
                    </tr>
                    <tr>
                        <td>
                            Chapter 5 - Conclusion and recommendations
                            <span th:if="${project.dissertation != null} AND ${currentProjectStatuses.contains(T(com.university.dms.model.project.enums.ProjectStatus).PROPOSAL_APPROVED)}">
                                <i th:if="${project.dissertation.conclusion.chapterStatus eq T(com.university.dms.model.project.enums.ChapterStatus).NOT_STARTED}"
                                   class="fas fa-play-circle fa-lg" style="color: orange"></i>
                                <i th:if="${project.dissertation.conclusion.chapterStatus eq T(com.university.dms.model.project.enums.ChapterStatus).NEW_WORK_SUBMITTED}"
                                   class="fas fa-plus-circle fa-lg" style="color: #cc682a"></i>
                                <i th:if="${project.dissertation.conclusion.chapterStatus eq T(com.university.dms.model.project.enums.ChapterStatus).NEEDS_REVISION_FROM_STUDENT}"
                                   class="fas fa-exclamation-circle fa-lg" style="color: #f82424"></i>
                                <i th:if="${project.dissertation.conclusion.chapterStatus eq T(com.university.dms.model.project.enums.ChapterStatus).DONE}"
                                   class="fas fa-check-circle fa-lg" style="color: green"></i>
                            </span>
                        </td>
                        <td class="table-align-right">
                            <a th:if="${currentProjectStatuses.contains(T(com.university.dms.model.project.enums.ProjectStatus).PROPOSAL_APPROVED)}"
                            th:href="'/projects/' + ${project.id} + '/chapter5'">Select</a></td>
                    </tr>
                    <tr>
                        <td>
                            Presentations, references and appendices
                            <span th:if="${project.dissertation != null} AND ${currentProjectStatuses.contains(T(com.university.dms.model.project.enums.ProjectStatus).PROPOSAL_APPROVED)}">
                                <i th:if="${project.dissertation.presentationReferences.chapterStatus eq T(com.university.dms.model.project.enums.ChapterStatus).NOT_STARTED}"
                                   class="fas fa-play-circle fa-lg" style="color: orange"></i>
                                <i th:if="${project.dissertation.presentationReferences.chapterStatus eq T(com.university.dms.model.project.enums.ChapterStatus).NEW_WORK_SUBMITTED}"
                                   class="fas fa-plus-circle fa-lg" style="color: #cc682a"></i>
                                <i th:if="${project.dissertation.presentationReferences.chapterStatus eq T(com.university.dms.model.project.enums.ChapterStatus).NEEDS_REVISION_FROM_STUDENT}"
                                   class="fas fa-exclamation-circle fa-lg" style="color: #f82424"></i>
                                <i th:if="${project.dissertation.presentationReferences.chapterStatus eq T(com.university.dms.model.project.enums.ChapterStatus).DONE}"
                                   class="fas fa-check-circle fa-lg" style="color: green"></i>
                            </span>
                        </td>
                        <td class="table-align-right">
                            <a th:if="${currentProjectStatuses.contains(T(com.university.dms.model.project.enums.ProjectStatus).PROPOSAL_APPROVED)}"
                               th:href="'/projects/' + ${project.id} + '/chapter6'">Select</a></td>
                    </tr>
                </table>
            </div>

        </div>
        <div>

            <p class="bottom-icons"><i class="fas fa-play-circle fa-lg" style="color: orange"></i> - Not started</p>
            <p class="bottom-icons"><i class="fas fa-plus-circle fa-lg" style="color: #cc682a"></i> - New work submitted
            </p>
            <p class="bottom-icons"><i class="fas fa-exclamation-circle fa-lg" style="color: #f82424"></i> - Needs
                revision from student</p>
            <p class="bottom-icons"><i class="fas fa-check-circle fa-lg" style="color: green"></i> - Done</p>
        </div>
    </div>


    <!--    DISCUSSIONS PAGE-->
    <div class="content hidden" id="discussions">
        <div class="project-details-box">
            <div class="box-in-project-details">
                <h4>Project title</h4>
                <p id="projecttitle" th:text="${project.title}"></p>

                <form th:if="${user.accountType eq T(com.university.dms.model.AccountType).STUDENT}" class="hidden"
                      id="change-project-title" th:action="@{/change-project-title}" th:object="${project}"
                      method="post" autocomplete="off"
                      style="min-width: 20%;">
                    <input type="text" id="title" name="title"
                           th:value="${project.title}"
                           class="form-control"/>
                    <input type="text" id="id" name="id" placeholder="Id" th:field="*{id}" style="display: none"/>

                    <button id="saveprojectitle" type="submit" class="btn"
                            style="margin-bottom: 10px; margin-top: 10px; padding: 8px 12px">Save
                    </button>
                    <a id="cancelsaveprojectitle" class="btn"
                       style="margin-bottom: 10px; margin-top: 10px; padding: 8px 12px; color: white">Cancel</a>
                </form>

                <button th:if="${user.accountType eq T(com.university.dms.model.AccountType).STUDENT}"
                        id="editprojectitle" class="btn"
                        style="margin-bottom: 10px; margin-top: 10px; padding: 8px 12px">Edit project title
                </button>
                <a class="btn" style="margin-top: 10px; margin-bottom: 10px; padding: 8px 12px"
                   th:href="'/suggestions/' + ${project.id}">View suggestion form</a>

            </div>

            <div class="box-in-project-details">
                <h4>Start date</h4>
                <p th:text="${project.startDate}"></p>
                <h4>End date</h4>
                <p th:text="${project.endDate}"></p>
                <h4>Project type</h4>
                <p th:text="${project.projectType.getValue()}"></p>
            </div>

            <div class="box-in-project-details">
                <div th:if="${user.accountType eq T(com.university.dms.model.AccountType).STUDENT} OR ${user.accountType eq T(com.university.dms.model.AccountType).COORDINATOR}">
                    <h4>Supervisor</h4>
                    <p th:if="${project.supervisor != null}"
                       th:text="${project.supervisor.firstName} + ' ' + ${project.supervisor.lastName}"></p>
                    <p th:if="${project.supervisor == null}">Not assigned</p>
                </div>

                <div th:if="${user.accountType eq T(com.university.dms.model.AccountType).SUPERVISOR} OR ${user.accountType eq T(com.university.dms.model.AccountType).COORDINATOR}">
                    <h4>Student</h4>
                    <p th:if="${project.student != null}"
                       th:text="${project.student.firstName} + ' ' + ${project.student.lastName}"></p>
                </div>

                <h4>Project stage</h4>
                <p th:text="${project.projectStatus.getValue()}"></p>
            </div>
        </div>

        <div id="new-discussions-button-wrapper" class="discussions-wrapper">
            <a id="new-discussion-button" class="btn" style="margin-top: 0" href="#" >Create new discussion</a>
            <span>Communications between student and supervisor on this project</span>
        </div>

        <div id="all-discussions-wrapper" class="discussions-wrapper">
            <table th:if="${project.discussions.size() > 0}" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="width: 60%">Discussion title</th>
                        <th style="width: 15%">Replies</th>
                        <th style="width: 35%">Last message by</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="discussion : ${project.discussions}">
                        <td>
                            <a th:text="${discussion.title}" th:href="'/projects/' + ${project.id} + '/' + ${discussion.id}"></a>
                        </td>
                        <td th:text="${discussion.messages.size()}"></td>
                        <td>
                            <p th:text="${T(com.university.dms.Utils.ProjectUtils).getLatestMessage(discussion).postedBy.firstName + ' ' + T(com.university.dms.Utils.ProjectUtils).getLatestMessage(discussion).postedBy.lastName}"></p>
                            <p th:text="${T(com.university.dms.Utils.ProjectUtils).getLatestMessage(discussion).postDate}"></p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div th:if="${project.discussions.size() == 0}">
                <h4>No discussions yet. Start a new discussion by pressing the button above.</h4>
            </div>
        </div>

        <div id="add-new-discussions-wrapper" class="discussions-wrapper hidden">
            <h4 class="project-phase-title">Create new discussion</h4>
            <form th:action="@{/submit-new-discussion}" th:object="${discussionWrapper}" method="post" enctype="multipart/form-data">
                <h5>Title</h5>
                <div class="input-group">
                    <textarea type="text" name="title"
                              class="form-control" th:field="*{title}"></textarea>
                </div>

                <h5>Message</h5>
                <div class="input-group">
                    <textarea style="height: 100px; margin-bottom: 15px" type="text" name="message"
                              class="form-control" th:field="*{initialMessage}"></textarea>
                </div>

                <div>
                    <input type="file" name="document" accept=".docx,.pdf"/>
                </div>

                <input type="text" name="projectId" th:value="${project.id}" style="display: none"/>

                <button type="submit" class="save-button" style="margin-bottom: 0">Start new discussion</button>

                <a id="go-back-button-from-create-new-discussion" class="btn" style="margin-top: 0" href="#" >Go back</a>

            </form>

        </div>

    </div>

    <!--    MEETINGS PAGE -->
    <div class="content hidden" id="meetings">
        <h1>Meetings</h1>
    </div>


</section>


</body>
<script>
    $(document).ready(function () {
        $('#activityplanbutton').click(function () {
            if ($('#activityplan').hasClass('hidden')) {
                $('#activityplan').removeClass('hidden');
                $('#discussions').addClass('hidden');
                $('#meetings').addClass('hidden');
            }
            if (!$('#activityplanbutton').hasClass('selected-button')) {
                $('#activityplanbutton').addClass('selected-button');
                $('#discussionbutton').removeClass('selected-button');
                $('#meetingsbutton').removeClass('selected-button');
            }
        });

        $('#discussionbutton').click(function () {
            if ($('#discussions').hasClass('hidden')) {
                $('#discussions').removeClass('hidden');
                $('#activityplan').addClass('hidden');
                $('#meetings').addClass('hidden');
            }

            if (!$('#discussionbutton').hasClass('selected-button')) {
                $('#discussionbutton').addClass('selected-button');
                $('#activityplanbutton').removeClass('selected-button');
                $('#meetingsbutton').removeClass('selected-button');
            }
        });

        $('#meetingsbutton').click(function () {
            if ($('#meetings').hasClass('hidden')) {
                $('#meetings').removeClass('hidden');
                $('#discussions').addClass('hidden');
                $('#activityplan').addClass('hidden');
            }

            if (!$('#meetingsbutton').hasClass('selected-button')) {
                $('#meetingsbutton').addClass('selected-button');
                $('#activityplanbutton').removeClass('selected-button');
                $('#discussionbutton').removeClass('selected-button');
            }
        });

        $('#editprojectitle').click(function () {
            if ($('#change-project-title').hasClass('hidden')) {
                $('#change-project-title').removeClass('hidden');
                $('#projecttitle').addClass('hidden');
            }
        });

        $('#cancelsaveprojectitle').click(function () {
            if (!$('#change-project-title').hasClass('hidden')) {
                $('#change-project-title').addClass('hidden');
                $('#projecttitle').removeClass('hidden');
            }
        });

        $('#new-discussion-button').click(function () {
            $('#new-discussions-button-wrapper').addClass('hidden');
            $('#all-discussions-wrapper').addClass('hidden');
            $('#add-new-discussions-wrapper').removeClass('hidden');
        });

        $('#go-back-button-from-create-new-discussion').click(function () {
            $('#new-discussions-button-wrapper').removeClass('hidden');
            $('#all-discussions-wrapper').removeClass('hidden');
            $('#add-new-discussions-wrapper').addClass('hidden');
        });

    });
</script>
</html>