<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/home.css}">
    <link rel="stylesheet" th:href="@{css/projects.css}">
    <title>Dissertation Management System</title>
</head>

<body>
<div th:replace="fragments/navbar"></div>


<section class="page-content">
    <div th:if="${supervisorProjects.isEmpty()}" class="no-projects-container">
        <p style="font-size: 20px; text-align: center">There are no projects assigned to supervise at the moment.</p>
    </div>

    <div class="my-projects-container">
        <h2 class="section-title">My projects</h2>
        <div class="projects-container">
            <h3 th:if="${supervisorProjects.isEmpty()}">Nothing yet</h3>

            <div class="project-box" th:each="project: ${supervisorProjects}">
                <div class="left-side">
                    <h4 th:text="${project.title}"></h4>
                    <h5 th:text="'Student: ' + ${project.student.firstName} + ' ' + ${project.student.lastName}"></h5>
                </div>
                <div class="right-side">
                    <a th:href="'/projects/' + ${project.id}" class="projects-small-button">Select</a>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>