<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/home.css}">
    <title>Dissertation Management System</title>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

    <script>

        // function search(){
        //     var link = window.location.href;
        //     var data = $('#user-data').val();
        //
        //     var newWindow = window.open(link + "/search/" + data,'_blank')
        //
        //     newWindow.focus();
        //
        // }

        // $(document).ready(function() {
        //     $('#search-user').click(function() {
        //         var link = window.location.href;
        //         var data = $('#user-data').val();
        //
        //         var newWindow = window.open(link + "/search/" + data,'_self')
        //
        //         newWindow.focus();
        //     });
        //
        // });


        // var btn = document.getElementById("search-user");
        //
        // btn.addEventListener("click", search);

    </script>

</head>

<body>
<nav>
    <a th:href="@{/home}" class="logo">
        Dissertation Management System
    </a>

    <div class="dropdownmenu">
        <div class="user-name-container">
            <i class="fas fa-user-circle fa-2x" style="color: white; margin: auto"></i>
            <p class="name-of-user" th:text = "${user.firstName} + ' ' + ${user.lastName}">
                Name
            </p>
            <div class="dropdown-content">
                <p class="acc-type" th:text="'Account type: ' + ${user.accountType}"></p>

                <div style="display: flex">
                    <i class="fas fa-user-circle fa-lg" style=" margin: auto 0; padding-left: 5px;"></i>
                    <a th:href="@{/profile}">My Profile</a>
                </div>
                <div style="display: flex">
                    <i class="fas fa-sign-out-alt fa-lg" style="margin: auto 0; padding-left: 5px;"></i>
                    <a th:href="@{/logout}">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<section>
    <div class="sidenav">
        <a th:href="@{/home}">Home</a>
        <a th:href="@{/users}">Users</a>
        <a href="#">Projects</a>
        <a href="#">Ideas</a>
        <a href="#">Forum</a>
    </div>
</section>

<section class="page-content">
    <div id="page-top">
        <h1 class="section-page-title ">All users</h1>
        <hr class="horizontal_line">
    </div>
    <div class="content">

        <form id="search-user" th:action="@{/searchuser}" method="post" autocomplete="off">
            <div class="user-search-bar">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input type="text" id="search_data" name="search_data" placeholder="Type name, email, username"
                           class="form-control"/>
                </div>

                <button type="submit" class="user-search-button">Search</button>
            </div>
        </form>


        <div class="users-list" >
            <table class="table table-bordered table-striped">

                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Select user</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="seluser: ${users}">
                    <td th:text="${seluser.firstName} + ' ' + ${seluser.lastName}" />
                    <td th:text="${seluser.email}" />
                    <td th:text="${seluser.userName}" />
                    <td ><a th:href="'/users/' + ${seluser.id}">Select</a></td>
                </tr>
                </tbody>

            </table>
        </div>

    </div>

</section>



</body>
</html>


