<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/home.css}">
    <title>Dissertation Management System</title>
</head>

<body>

<div th:replace="fragments/navbar"></div>

<section class="page-content">
    <div class="boxes-container">
        <div th:if="${user.accountType eq T(com.university.dms.model.AccountType).STUDENT}" class="box">
            <i class="fas fa-book-open fa-4x"></i><br>
            <a th:href="@{/student-my-projects}">MY PROJECTS</a>
        </div>

        <div th:if="${user.accountType eq T(com.university.dms.model.AccountType).COORDINATOR}" class="box">
            <i class="fas fa-book-open fa-4x"></i><br>
            <a th:href="@{/coordinatorviewprojects}">PROJECTS</a>
        </div>

        <div th:if="${user.accountType eq T(com.university.dms.model.AccountType).SUPERVISOR}" class="box">
            <i class="fas fa-book-open fa-4x"></i><br>
            <a th:href="@{/supervisor-my-projects}">PROJECTS</a>
        </div>

        <div th:if="${user.accountType eq T(com.university.dms.model.AccountType).COORDINATOR}" class="box">
            <i class="fas fa-users fa-4x"></i><br>
            <a th:href="@{/users}">USERS</a>
        </div>

        <div class="box">
            <i class="fas fa-lightbulb fa-4x"></i><br>
            <a th:href="@{/ideas}">IDEAS</a>
        </div>

        <div class="box">
            <i class="fab fa-stack-exchange fa-4x"></i><br>
            <a th:href="@{/forum}">FORUM</a>
        </div>
    </div>

</section>

</body>
</html>