<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/home.css}">
    <title>Dissertation Management System</title>
</head>

<body>
<nav>
    <a th:href="@{/home}" class="logo">
        Dissertation Management System
    </a>

    <div class="dropdownmenu">
        <div class="user-name-container">
            <i class="fas fa-user-circle fa-2x" style="color: white; margin: auto"></i>
            <p class="name-of-user" th:text = "${user.firstName} + ' ' + ${user.lastName}">
                Name
            </p>
            <div class="dropdown-content">
                <p class="acc-type" th:text="'Account type: ' + ${user.accountType}"></p>

                <div style="display: flex">
                    <i class="fas fa-user-circle fa-lg" style=" margin: auto 0; padding-left: 5px;"></i>
                    <a th:href="@{/profile}">My Profile</a>
                </div>
                <div style="display: flex">
                    <i class="fas fa-sign-out-alt fa-lg" style="margin: auto 0; padding-left: 5px;"></i>
                    <a th:href="@{/logout}">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<section th:if="${user.accountType eq T(com.university.dms.model.AccountType).STUDENT}" id="side-nav-student">
    <div class="sidenav">
        <a th:href="@{/home}">Home</a>
        <a th:href="@{/student-my-projects}">My Projects</a>
        <a href="#">Ideas</a>
        <a href="#">Forum</a>
        <a href="#">Notifications</a>
        <a href="#">Notes</a>
    </div>
</section>

<section th:if="${user.accountType eq T(com.university.dms.model.AccountType).COORDINATOR}" id="side-nav-coordinator">
    <div class="sidenav">
        <a th:href="@{/home}">Home</a>
        <a th:href="@{/users}">Users</a>
        <a th:href="@{/coordinatorviewprojects}">Projects</a>
        <a href="#">Ideas</a>
        <a href="#">Forum</a>
    </div>
</section>

<section th:if="${user.accountType eq T(com.university.dms.model.AccountType).SUPERVISOR}" id="side-nav-supervisor">
    <div class="sidenav">
        <a th:href="@{/home}">Home</a>
        <a href="#">Users</a>
        <a href="#">Projects</a>
        <a href="#">Ideas</a>
        <a href="#">Forum</a>
    </div>
</section>

<section class="page-content">
    <div class="boxes-container">
        <div class="box">
            <i class="fas fa-book-open fa-5x"></i><br>
            <a th:href="@{/#}">MY PROJECTS</a>
        </div>

        <div class="box">
            <i class="fas fa-lightbulb fa-5x"></i><br>
            <a th:href="@{/#}">IDEAS</a>
        </div>

        <div class="box">
            <i class="fab fa-stack-exchange fa-5x"></i><br>
            <a th:href="@{/#}">FORUM</a>
        </div>

        <div class="box">
            <i class="fas fa-bell fa-5x"></i><br>
            <a th:href="@{/#}">NOTIFICATIONS</a>
        </div>

        <div class="box">
            <i class="fas fa-sticky-note fa-5x"></i><br>
            <a th:href="@{/#}">NOTES</a>
        </div>
    </div>

</section>


</body>
</html>