<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
          integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{../../css/style.css}">
    <link rel="stylesheet" th:href="@{../../css/home.css}">
    <link rel="stylesheet" th:href="@{../../css/projects.css}">
    <link rel="stylesheet" th:href="@{../../css/profile.css}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>Dissertation Management System</title>

</head>

<body>
<div th:replace="fragments/navbar"></div>


<section class="page-content">


    <!--    FORUM PAGE-->
    <div class="content" id="discussions">
        <h2>Forum </h2>
        <div id="new-forum-post-button-wrapper" class="discussions-wrapper">
            <a id="new-forum-topic-button" class="btn" style="margin-top: 0" href="#">Create new forum post</a>
        </div>

        <div id="all-forum-posts-wrapper" class="discussions-wrapper">
            <table th:if="${forumTopics.size() > 0}" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th style="width: 60%">Topic title</th>
                    <th style="width: 15%">Replies</th>
                    <th style="width: 35%">Last post by</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="topic : ${forumTopics}">
                    <td>
                        <a th:text="${topic.title}"
                           th:href="'/forum/' + ${topic.id}"></a>
                    </td>
                    <td th:text="${topic.posts.size()}"></td>
                    <td>
                        <p th:text="${topic.posts.get(topic.posts.size()-1).postedBy.firstName + ' ' + topic.posts.get(topic.posts.size()-1).postedBy.lastName}"></p>
                        <p th:text="${topic.posts.get(topic.posts.size()-1).postDate}"></p>
                    </td>
                </tr>
                </tbody>
            </table>

            <div th:if="${forumTopics.size() == 0}">
                <h4>No topics posted yet. Start a new topic by pressing the button above.</h4>
            </div>
        </div>

        <div id="add-new-forum-post-wrapper" class="discussions-wrapper hidden">
            <h4 class="project-phase-title">Create new topic</h4>
            <form th:action="@{/submit-new-forum-topic}" th:object="${forumTopicWrapper}" method="post"
                  autocomplete="off">
                <h5>Title</h5>
                <div class="input-group">
                    <textarea type="text" name="title"
                              class="form-control" th:field="*{title}"></textarea>
                </div>

                <h5>Message</h5>
                <div class="input-group">
                    <textarea style="height: 100px; margin-bottom: 15px" type="text" name="message"
                              class="form-control" th:field="*{initialMessage}"></textarea>
                </div>

                <button type="submit" class="save-button" style="margin-bottom: 0">Start new topic</button>

                <a id="go-back-button-from-add-new-forum-topic" class="btn" style="margin-top: 0" href="#">Go back</a>
            </form>

        </div>

    </div>

</section>


</body>

<script>
    $('#new-forum-topic-button').click(function () {
        $('#new-forum-post-button-wrapper').addClass('hidden');
        $('#all-forum-posts-wrapper').addClass('hidden');
        $('#add-new-forum-post-wrapper').removeClass('hidden');
    });

    $('#go-back-button-from-add-new-forum-topic').click(function () {
        $('#new-forum-post-button-wrapper').removeClass('hidden');
        $('#all-forum-posts-wrapper').removeClass('hidden');
        $('#add-new-forum-post-wrapper').addClass('hidden');
    });
</script>

</html>