.profile-page-title {
    padding: 20px;
    margin-left: 30px;
}

.horizontal_line {
    border: 2px solid black;
}

#user-details {
    margin-left: 50px;
}

.details-header {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 0 !important;
}

.profile-input-boxes {
    max-width: 40vw;
}

.save-button {
    display: inline-block;
    border: none;
    background: rgba(13, 110, 139, 0.75);
    color: white;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    margin-bottom: 30px;
    text-decoration: none;
}