html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    min-height: 100vh;

}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}


*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    background-color: #169fcb;
    padding-left: 30px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

.logo {
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    text-decoration: none!important;
    color: #ffffff;
}

.logo:hover {
    color: #ffffff;
}

.nav-links {
    margin: 0;
    list-style: none;
    display: flex;
}

.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #ffffff;
}

.nav-item:hover {
    background-color: #7e7d7d;
}

.nav-item:hover a {
    color: #ffffff;
}

/*  HOME SHOWCASE */

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

#showcase {
    background: rgba(13, 110, 139, 0.75);
    color: white;
    height: 100vh;
    position: relative;
}

#showcase:before {
    content: '';
    background: url('../img/home.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#showcase .showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

#showcase h1 {
    font-size: 3rem;
}

#showcase p {
    font-size: 2rem;
}

.btn {
    display: inline-block;
    border: none;
    background: rgba(13, 110, 139, 0.75);
    color: white;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    transition: all 1s ease-in-out;
    text-decoration: none;
}

.btn:hover {
    opacity: 0.9;
    color: #ffffff;
}

/* HOME - BENEFITS SECTION */

#benefits {
    margin: 0px auto;
    min-width: 90%;
}

#benefits .container-benefits{
    max-width: 90%;
    margin: 0px auto;
}

#benefits h1 {
    margin-top: 30px;
    font-size: 2.5rem;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

#benefits .container-bar {
    display: flex;
    margin-top: 30px;
    overflow: hidden;
    padding: 0 3rem;
}

#benefits .container-bar .bar-text {
    font-size: 30px;
    margin-left: 10px;
}

#benefits .bars {
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

#benefits .bar1 {
    width: 40%;
    background-color: #0B628DFF;
}

#benefits .bar2 {
    width: 50%;
    background-color: #0B628DFF;
}

#benefits .bar3 {
    width: 60%;
    background-color: #0B628DFF;
}

#benefits .bar4 {
    width: 70%;
    background-color: #0B628DFF;
}

/* HOME - FEATURES SECTION */

#features {
    margin-bottom: 20px;
}

#features h1 {
    margin-top: 30px;
    font-size: 2.5rem;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

#features h2 {
    font-size: 1.8rem;
}

#features p {
    font-size: 1.2rem;
}

#features .container-features{
    max-width: 90%;
    margin: 0px auto;
}

#features .container-features .feature-box {
    border: 2px solid;
    padding: 15px;
    margin: 10px;
}

#features .container-features .features-box-grid {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

/* FOOTER */

#main-footer {
    background: #0B628DFF;
    color: #fff;
}

#main-footer a {
    color: #fff;
}

#main-footer .footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    max-width: 80%;
    margin: auto;
    padding: 2rem 2rem 0 2rem;
    overflow: hidden;
}


/* LOGIN PAGE */

#login-box {
    border: 2px solid black;
    border-radius: 10px;
    width: 40vw;
    position: relative;
    margin: 50px auto auto auto;
    text-align: center;
}

#login-box hr {
    border: 1px solid black;
}

#login-box h2 {
    margin-top: 20px;

}

#login-box .login-fields-box {
    width: 80%;
    margin: auto;
    padding-top: 30px;
}

#login-box .login-fields-box .login-button {
    display: inline-block;
    border: none;
    background: rgba(13, 110, 139, 0.75);
    color: white;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    margin-bottom: 30px;
    text-decoration: none;
}



/* REGISTER PAGE */

#register-box {
    border: 2px solid black;
    border-radius: 10px;
    width: 40vw;
    position: relative;
    margin: 50px auto auto auto;
    text-align: center;
}

#register-box hr {
    border: 1px solid black;
}

#register-box h2 {
    margin-top: 20px;

}

#register-box .register-fields-box {
    width: 80%;
    margin: auto;
    padding-top: 30px;
}

#register-box .register-fields-box .register-button {
    display: inline-block;
    border: none;
    background: rgba(13, 110, 139, 0.75);
    color: white;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    margin-bottom: 30px;
    text-decoration: none;
}

.validation-message {
    color: #d41b19;
}